trio
async_exit_stack
async_generator
greenback >= 0.3.0

# Testing
pytest >= 6.0
pytest-cov
pytest-trio

# Tools
black == 19.10b0; implementation_name == "cpython"
mypy >= 0.790; implementation_name == "cpython"
trio-typing
flake8

# typed-ast is required by black + mypy and doesn't build on PyPy;
# it will be unconstrained in requirements.txt if we don't
# constrain it here
typed-ast; implementation_name == "cpython"
